.shapeShifterSquare{
  background-color: red;
  height: 150px;
  width: 150px;
  position: relative;
}
.shapeShifterTriangle{
  width: 0;
  height: 0;
  border-bottom: 120px solid blue;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  position: relative;
}
.shapeShifterCircle{
  width: 140px;
  height: 140px;
  background: green;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  position: relative;
}
.shapeShifterOval{
  width: 200px;
  height: 100px;
  background: brown;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  position: relative;
}
